.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #0c7af8;
}
.logo-container {
  height: 100%;
  width: 100px;
  padding: 10px;
}
.logo {
  height: 80%;
  width: 80%;
  background-color: wheat;
  border-radius: 10px 10px 10px 10px;
}
 .options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.option {
  padding:1px;
  width: 7%;
  height: 50%;
  background-color: wheat;
  border-radius: 10px 10px 10px 10px ;
  margin-right: 10px ;
  margin-top: 10px;
  cursor: pointer;
}
