.sign-in-and-sign-up {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
  }
  

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .row {
    margin: 0 -5px;
    padding-bottom: 1em;
    &:after {
      content: "";
      display: table;
      clear: both;
      margin-left: auto;
      margin-right: auto;
    }
  }