@import url(https://fonts.googleapis.com/css?family=Amaranth:400,400italic,700italic,700);
.c-card * {
  display: block;
  box-sizing: border-box;
}

.card-container {
  max-width: 900px;
  margin: 0 auto;
}

.c-card {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  background: rgb(57, 156, 236);
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}
.c-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}
.c-card__image {
  height:200px;
  width: 350px;
}
.c-card__body {
  padding: 20px;
  background-color:  rgb(57, 156, 236);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.c-card__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: aliceblue;
}
.c-card__subtitle {
  font-size: 13px;
  margin-top: 5px;
  padding: 0;
}
.c-card__intro {
  margin-bottom: 0;
}
.c-card__footer {
  padding: 20px;
  border-top: 1px solid #ddd;
}

.c-card--center {
  text-align: center;
}