* {
    box-sizing: border-box;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;
    padding-bottom: 1em;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .card:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    border:none;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100% !important;
      display: block !important;
      margin-bottom: 20px !important;
    }
  }

  
  .price {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;


  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    border:none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
  }
  
  .price .header {
    background-color: rgb(12, 122, 248);
    color: white;
    font-size: 25px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
  }

  .button-reser{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .row-custom{
    margin-left: auto;
    margin-right: auto;
    margin: 0 -5px;
    padding-bottom: 1em;
  }
  


  





/*datapicker*/

  .rainbow-m-horizontal_xx-large {
    margin-right: 3rem;
    margin-left: 3rem;
}
.rainbow-p-horizontal_xx-large {
    padding-right: 3rem;
    padding-left: 3rem;
}
.rainbow-p-vertical_large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
table {
  margin-left: auto;
  margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.column-custom{
  
    width: 30%;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}


.booking-img{
  height: 100px;
  width:180px;
  border-radius: 20px;
}